@import "./utils/fonts";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    --bg: radial-gradient(circle, #cce3f1 0%, #4dbde9ac 80%, #248ecfbd 100%);
    --text: #000000;
    background: var(--bg);
    color: var(--text);
    transition: background 0.3s, color 0.3s;

    @media screen and (min-width: 980px){
        padding: 0 200px;
    }

    @media screen and (min-width: 1400px){
        padding: 0 400px;
    }
}

body.dark {
    --bg: radial-gradient(circle, #d7b2e7 0%, #7a2882ac 80%, #500451bd 100%);
    --text: #ffffff;
}

a, button, label, svg {
    outline: none;
}

h1, h2, p{
    margin: 0
}

.link{
        text-decoration: none;
        color: var(--text);
        transition: 0.3s;
    }
.link:hover{
        transform: scale(1.05);
        color: green;
}

.icon{
    cursor: pointer;
    transition: 0.3s;
}
.icon:hover{
    fill: white
}

@import "./components/header";
@import "./utils/tumbler";
@import "./utils/backdrop";
@import "./components/socials";
@import "./components/locatiom";
@import "./components/menu";
@import "./components/chuvachki";
@import "./components/footer";