.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: var(--bg);
    padding: 20px;

    display: flex;
    flex-direction: column;

    overflow-y: auto; // прокрутка внутри модалки, если контент большой
    z-index: 999; // чтобы окно было поверх всего

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px; // чтобы не расползалось
        width: 100%;
    }

    &__image{
        max-width: 400px;
    }
}

.close-modal{
    cursor: pointer;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    margin-bottom: 20px;
}

.is-delete{
    visibility: hidden;
}