.header a {
    display: inline-block; /* или block */
}

.header{

    &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }

    &__content{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__image{
        position: relative;
        content: "";
        border: 0 solid black;
        border-radius: 50%;
        width: 100px;
        height: 100px;

        &--logo{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: -1;
        }
    }

    &__title{
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}